{% load static %}

<!doctype html>
<html lang="en">
   
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="{% static 'veggiecart/assets/img/fav.png' %}">
      <title>e-Veggie - Delivery </title>
      <!-- Bootstrap core CSS -->
      <link href="{% static 'veggiecart/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Icofont Icon-->
      <link href="{% static 'veggiecart/assets/vendor/icons/icofont.min.css' %}" rel="stylesheet" type="text/css">
      <!-- Bootstraps icon -->
      <link rel="stylesheet" href="{% static 'veggiecart/assets/npm/bootstrap-icons%401.8.1/font/bootstrap-icons.css'%}">
      <link href="{% static 'veggiecart/assets/css/style.css' %}" rel="stylesheet">
   </head>
   <body class="bg-light">
      <!-- Navbar -->
      {% include './includes/nav.html' %}
      <!-- app link -->
      {% block content %}{% endblock %}
      <!-- Footer -->
      <section class="footer py-5">
         <div class="container">
            <div class="row">
               <h5 class="mb-4 fw-bold text-dark">Areas we deliver to</h5>
               <div class="col-lg-3 col-md-6 col-6">
                  <ul class="list-unstyled d-grid gap-2 mb-0">
                     <li><a href="listing.html" class="text-decoration-none text-muted">Chanakyapuri</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Greater Kailash 2</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Jasola</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Lajpat Nagar</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Mehruli</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Rashtrapati Bhavan</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Sarojini Nagar</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-6 col-6">
                  <ul class="list-unstyled d-grid gap-2 mb-0">
                     <li><a href="listing.html" class="text-decoration-none text-muted">Chhatarpur</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Green Park</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">kalkaji</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Ladhi Colony</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Munirka</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Sainik Farm</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">South Ext.</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-6 col-6">
                  <ul class="list-unstyled d-grid gap-2 mb-0">
                     <li><a href="listing.html" class="text-decoration-none text-muted">Connaught Place</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Hauz Khas</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Karol Bagh</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Mahipalpur</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">New Friends Colony</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Saket</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Vasant Kunj</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-6 col-6">
                  <ul class="list-unstyled d-grid gap-2 mb-0">
                     <li><a href="listing.html" class="text-decoration-none text-muted">Greater Kailash 1</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Khan Market</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Malviya Nagar</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">RK Puram</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Sarai Kala khan</a></li>
                     <li><a href="listing.html" class="text-decoration-none text-muted">Vasant Vihar</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <footer class="bg-footer py-5 d-none d-md-block">
         <div class="container">
            <div class="row mb-5">
               <div class="col-12 text-white">
                  <h6 class="fw-bold mb-4">You can't stop time, but you can save it</h6>
                  <p class="text-white-50 m-0">Living in the city, there is never enough time to shop for groceries, pick-up supplies, grab food and wade through traffic on the way back home. How about we take care of all of the above for you? What if we can give you all that time back? Send packages across the city and get everything from food, groceries, medicines and pet supplies delivered right to your doorstep. From any store to your door, just make a list and we’ll make it disappear. Just Eatsle It!</p>
               </div>
            </div>
            <hr class="text-white">
            <div class="row text-white mt-5">
               <div class="col-md-4 col-12">
                  <div><img src="{% static 'veggiecart/assets/img/fav.png' %}" alt="" class="img-fluid footer-logo"></div>
               </div>
               <div class="col-md-2 col-6">
                  <h6 class="text-uppercase mb-4 fw-bold">Eatsle</h6>
                  <ul class="list-unstyled d-grid gap-2 text-decoration-none">
                     <li><a class="text-decoration-none text-white-50" href="about.html">About us</a></li>
                     <li><a class="text-decoration-none text-white-50" href="jobs.html">Jobs</a></li>
                     <li><a class="text-decoration-none text-white-50" href="contact.html">Contact Us</a></li>
                     <li><a class="text-decoration-none text-white-50" href="cupons.html">Cupons</a></li>
                  </ul>
               </div>
               <div class="col-md-2 col-6">
                  <h6 class="text-uppercase mb-4 fw-bold">My Profile</h6>
                  <ul class="list-unstyled d-grid gap-2">
                     <li><a class="text-decoration-none text-white-50" href="profile.html">Orders List</a></li>
                     <li><a class="text-decoration-none text-white-50" href="profile.html">Addresses</a></li>
                     <li><a class="text-decoration-none text-white-50" href="profile.html">Manage Payments</a></li>
                     <li><a class="text-decoration-none text-white-50" href="profile.html">Eatsle Cash</a></li>
                     <li><a class="text-decoration-none text-white-50" href="profile.html">Support / Help</a></li>
                  </ul>
               </div>
               <div class="col-md-2 col-6">
                  <h6 class="text-uppercase mb-4 fw-bold">Shop Pages</h6>
                  <ul class="list-unstyled d-grid gap-2">
                     <li><a class="text-decoration-none text-white-50" href="search.html">Search</a></li>
                     <li><a class="text-decoration-none text-white-50" href="listing.html">Listing</a></li>
                     <li><a class="text-decoration-none text-white-50" href="listing-detail.html">Listing Detail</a></li>
                     <li><a class="text-decoration-none text-white-50" href="product-detail.html">Product Detail</a></li>
                     <li><a class="text-decoration-none text-white-50" href="cart.html">Cart / Checkout</a></li>
                     <li><a class="text-decoration-none text-white-50" href="success-order.html">Success Order</a></li>
                  </ul>
               </div>
               <div class="col-md-2 col-6">
                  <h6 class="text-uppercase mb-4 fw-bold">get in touch</h6>
                  <ul class="list-unstyled d-grid gap-2">
                     <li><a class="text-decoration-none text-white-50" href="#">Email</a></li>
                     <li><a class="text-decoration-none text-white-50" href="#">Twitter</a></li>
                     <li><a class="text-decoration-none text-white-50" href="#">Facebook</a></li>
                     <li><a class="text-decoration-none text-white-50" href="#">Instagram</a></li>
                     <li><a class="text-decoration-none text-white-50" href="#">Linkedin</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Sign in Modal -->
      <!-- 1st -->
      
      {% include './includes/modals.html' %}
      <div class="w-100 d-block d-md-none d-lg-none mobile-nav-bottom position-fixed d-flex align-items-center justify-content-around shadow-sm">
         <a data-bs-toggle="modal" href="#exampleModalToggle" href="#"><span class="bi bi-unlock-fill"></span> Sign In</a>
         <a href="listing.html"><span class="bi bi-card-heading"></span> Listing</a>
         <a href="cart.html"><span class="bi bi-basket-fill"></span> Cart <b>2</b></a>
         <a href="profile.html"><span class="bi bi-person-badge"></span> Account</a>
      </div>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'veggiecart/assets/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'veggiecart/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Custom scripts for all pages-->
      <script src="{% static 'veggiecart/assets/js/custom.js' %}"></script>
   </body>

</html>